.content {
    h2 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.4rem;
        color: #333;
        margin-bottom: 1rem;
    }

    tr {
        font-size: 1.4rem;
        vertical-align: middle;
    }
}