.comment_area_user {
    margin: 1rem 0.4rem !important;
    padding: 1rem 0.5rem !important;

    .user_avatar {
        svg {
            background: black;
            color: white;
            margin: 0.5rem;
            border: 1px solid black;
            border-radius: 50%;
        }
    }

    .user_comment_time {
        font-size: 1rem;
    }

    .user_name {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .user_comment_content {
        padding-top: 0.5rem;
        font-size: 1.4rem;
        color: #4a4a4a;

        textarea {
            font-size: 1.4rem;
            width: 100%;
        }
    }
}

.button_comment_service {
    width: fit-content;
    border: transparent;
    border-radius: 1rem;
    cursor: pointer;
}

.active {
    background: gainsboro;
}

.reply_div {
    padding: 1rem;
    margin: 1rem 0;
}

.button_comment {
    width: fit-content !important;
    border: transparent;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    padding-left: 0 !important;
    background: transparent;
    color: black;

    &:hover {
        background: transparent;
        color: inherit;
    }

    &:active {
        background: transparent;
        color: inherit;
    }
}