.product_left {
    display: flex;
    flex-wrap: wrap;

    .product_left_title {
        display: block;
        width: 100%;
        height: auto;
    }

    .button_area {
        width: 100%;
        align-self: flex-end;
    }
}

.bottom_title {
    font-size: 2rem;
    font-weight: 600;
}