.cart_item {
    border-bottom: 1px solid #e1e1e1;

    .image {
        max-width: 8rem;
        max-height: 8rem;
    }

    .title,
    .num {
        font-size: 1.4rem;
        font-weight: 700;
    }
}