.Footer {
    box-shadow: 0 -1px 2px 0 rgba(60, 64, 67, .1), 0 -2px 6px 2px rgba(60, 64, 67, .15);
}

.mailIcon {
    font-size: 8rem;
    color: white;
}

.emailInput {
    width: 60%;
    display: flex;
    height: 5rem;
    align-items: center;
    color: var(--bs-white);
    margin-left: 1rem;
    margin-right: 1rem;

    input {
        border: none;
        width: 100%;
        padding: 1rem;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        font-size: 1.4rem;
        height: 100%;
        outline: none;
    }

    .arrowButtonWrap {
        display: flex;
        align-items: center;
        padding: 0.8rem;
        background-color: var(--bs-white);
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        height: 100%;
        border: none;
        outline: none;
    }
}

.arrowButton {
    width: 4rem;
    height: 4rem;
    color: var(--primary);
}

.footerTitle {
    font-weight: 600;
}

.footerLink {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;

    &:hover {
        color: var(--primary);
    }

    &::before {
        content: "•";
        color: #999;
        margin: 0 0.5rem;
    }
}

.footerTitleMobile {
    background: #F4F4F4;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
    position: relative;

    &:hover {
        background: #999;
    }

    &:active {
        background: #999;
    }

    svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
    }
}

.more_icon {
    transition: transform 0.3s ease-in-out;
}

.rotated {
    transform: rotate(-90deg) !important;
}

.rotated_90 {
    transform: rotate(90deg) !important;
}