.toggle-parent {
    cursor: pointer;
}

.toggle-children {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;

    &.show {
        opacity: 1;
        max-height: 1000px;
    }
}