.SlideItem {
    height: 50rem;
    border-radius: 1rem !important;
}

@media only screen and (max-width: 992px) {
    .SlideItem {
        height: 35rem;
    }
}

@media only screen and (max-width: 476px) {
    .SlideItem {
        height: 25rem;
    }
}