.loadingDiv {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}